# Don't store any build specific assets
**/node_modules
**/dist
**/coverage
**/.turbo
**/traces
**/.npmrc

# Ignore tempates used locally
**/_template

# Don't store local build cache results
**/*.tsbuildinfo

# Remove any local scripts
scripts/publish-local.sh